*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}
.container{
    max-width: 700px;
    width: 80%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
   
}
.container .title{
    position: relative;
    font-size: 25px;
    font-weight: 500;
}
.container .title::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 12px 0;
}

form .user-details .input-box{
   width: 300px;
    padding: auto;
   margin-bottom: 15px;
}
.user-details .input-box input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    outline: none;
    font-size: 100%;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
.user-details,.input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    width: 80%;
}
form .gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot-one,.dot-two,.dot-three{
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 0 10px ;
   border: 5px solid transparent;
}

.gender-details .category input{
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin:0 10px;
   padding: 10px;
   border: 5px solid transparent;
}
#dot-1:checked ~ .category label .dot-one,
#dot-2:checked ~ .category label .dot-two,
#dot-3:checked ~ .category label .dot-three{
    background-color: #9b59b6;
    border-color: #d9d9d9;
    transition: all 0.3s ease-in-out;
}
form input[type="radio"]{
    display: none;
}

form .button{
    margin-top: 30px;
    height: 45px;
    
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border: 1px solid #ccc;
    color: rgb(255, 247, 247);
   
    letter-spacing: 1px;
}
@media screen and (max-width:584px) {
    .container{
        max-width: 100%;
    }
    form .gender-details .category{
       
        width: 100%;
    }
    form{
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
}