*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    width: 100%;
    background: rgb(231, 231, 224);
}

footer{
    position:fixed;
    background: rgb(77, 77, 201);
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    left: 0;
    top: 100px;
}

footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .header .logo{
    color: #fff;
    font-size: 25px;
}

.content .header .social-media-btn{
    display: flex ;
 
}

.social-media-btn a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.social-media-btn a:nth-child(1){
    background: #4267B2;
}

.social-media-btn a:nth-child(1):hover{
    background: #fff;
    color: #4267B2;
}

.social-media-btn a:nth-child(2){
    background: #0077B5;
}

.social-media-btn a:nth-child(2):hover{
    background: #fff;
    color:#0077B5;
}
.social-media-btn a:nth-child(3){
    background: #1DA1F2;
}
.social-media-btn a:nth-child(3):hover{
    background: #fff;
    color:#1DA1F2;
}
.social-media-btn a:nth-child(4){
    background: #E1306C;
}

.social-media-btn a:nth-child(4):hover{
    background: #fff;
    color: #E1306C;
}

.link{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link .box{

    width: calc(100% / 5 - 10px);
}

.link .box li{
    list-style: none;
    margin: 6px 0;
}

.box .link-name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link .box .link-name::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.link .box li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.content .link .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}

.content .link .input-box{
    margin-right: 55px;
}

.link .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    
}

.link .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
}
.link .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.link .input-box input[type="button"]:hover{
    opacity: 1;
}

footer .bottom-details{
    width: 100%;
    background: #0F0844;
}

footer .bottom-details .bottom-text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom-text span,
.bottom-details .bottom-text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom-text a:hover{
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom-text a{
    margin-right: 10px ;
}

@media (max-width:900px) {
    footer .content .link{
        flex-wrap: wrap;
    }

    .content .link .input-box{
       width: 40%;
       margin-top: 10px;
    }
    
}

@media (max-width:700px){
    .content .header .logo{
        font-size: 26px;
    }

    .content .header .social-media-btn a{
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer .content .link .box{
        width: calc(100% / 3 - 10px);
    }

    footer .content .link .input-box{
        width: 60%;
    }

    .bottom-details .bottom-text span,
    .bottom-details .bottom-text a{
        font-size: 12px;
    }

}
@media (max-width:520px){
    footer::before{
        top: 145px;

    }
    footer .content .header{
        flex-direction: column;
    }
    .content .header .social-media-btn{
        margin-top: 16px;
    }
    footer .content .link .box{
        width: calc(100% / 2 - 10px);
    }
    footer .content .link .input-box{
        width: 100%;
    }
}