*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    width: 100%;
    background: rgb(231, 231, 224);
}

footer{
    position:fixed;
    background: rgb(77, 77, 201);
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .header .logo{
    color: #fff;
    font-size: 25px;
}

.content .header .social-media-btn{
    display: flex ;
 
}

.social-media-btn a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.social-media-btn a:nth-child(1){
    background: #4267B2;
}

.social-media-btn a:nth-child(1):hover{
    background: #fff;
    color: #4267B2;
}

.social-media-btn a:nth-child(2){
    background: #0077B5;
}

.social-media-btn a:nth-child(2):hover{
    background: #fff;
    color:#0077B5;
}
.social-media-btn a:nth-child(3){
    background: #1DA1F2;
}
.social-media-btn a:nth-child(3):hover{
    background: #fff;
    color:#1DA1F2;
}
.social-media-btn a:nth-child(4){
    background: #E1306C;
}

.social-media-btn a:nth-child(4):hover{
    background: #fff;
    color: #E1306C;
}

