@import url("https://fonts.google.com/specimen/Poppins?query=poppins");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f4f5f7;
    justify-content: center;
}

.container{
    display: flex;
    max-width: 720px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.15) ;
    justify-content: space-between;
    position: relative;
}
.container::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0 12px 12 0;
    clip-path: circle(65% at right 35%);
    background: linear-gradient(135deg, #564e5d 10%, #4c3c8d 100%);
}
.container .box-one{
    padding: 35px 5px 0 35px;
}
.box-one .details .title{
    font-size: 30px;
    font-weight: 500;
}
.box-one .details p{
    color: #848282;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}
.box-one .details .rating{
    color: #fd9bb0;
}
.box-one .details price-box{
    margin-top: 16px;

}
.details .price-box .discount{
    font-size: 20px;
    color: #737373;
    margin: 10px 0 0 12px;
    position: relative;
}
.price-box .discount::before{
   content: "";
   position: absolute;
   height: 1px;
   width: 100px;
   background: #737373 ;
   top: 50%;
   left: -8px;
}
.details .price-box .price{
    color: #fc6989;
    font-size: 30px;
}
.button1{
    margin-top: 40px;
}
.box-one .button1 button{
    outline: none;
    background-color: #00e6e6;
    padding: 8px 16px; 
    color:#fff;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    transition: all 0.3s ease;
}
.box-one .button1 button:hover{
    transform: scale(0.98);
    cursor: pointer;
}

.container .box-two .image-box{
    position: relative;
    text-align: right;
    right: 0;
    bottom: 32px;
}
.container .box-two .image{
    height: 430px;
    width: 340px;
}
.box-two .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-two .info{
    margin: 0 35px 0 0;

}
.box-two .info .brand{
    font-size: 20px;
    font-weight: 600;
    color: #c9032e;
}
.box-two .info .name{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    
}
.box-two .info .shipping{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    
}
.box-two .info .button2{
    margin: 17px 0;

}
.box-two .info .button2 button{
    outline: none;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    background:transparent;
    border-radius: 6px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.box-two .info .button2 button:hover{
    background-color:#737373 ;
    color: #fff;

}



