@import url("https://fonts.google.com/specimen/Poppins?query=poppins");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    justify-content: center;
}

.container{
    display: flex;
    max-width: 720px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.15) ;
    justify-content: space-between;
}
.container .box-one{
    padding: 35px 5px 0 35px;
}
.box-one .details .title{
    font-size: 30px;
    font-weight: 500;
}
.box-one .details p{
    color: #737373;
    font-size: 13px;
    font-weight: 500;
}
.box-one .details .rating{
    color: #fd9bb0;
}
.box-one .details price-box{
    margin-top: 16px;

}
.details .price-box .discount{
    font-size: 20px;
    color: #737373;
    margin: 10px 0 0 12px;
    position: relative;
}
.price-box .discount::before{
   content: "";
   position: absolute;
   height: 1px;
   width: 100px;
   background: #737373 ;
   top: 50%;
   left: -8px;
}
.container .box-two .image{
    height: 430px;
    width: 340px;
}
.box-two .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}







